// This Page For Youseef
// Write Your Code Here
.a
{
    border-left: 10px solid #0395E2 ;
}
.b
{
    padding: 0 0 0 10px;
    font-weight: bold;
    color: #029ae3;
}
.c
{
    padding: 0 0 0 4%;
    margin-left: 6%;
    text-align:left;
    font-weight: bold;
    
    font-size: 20px;
}
.d
{
    text-align: center
}
.e
{
    padding: 30px 0 30px 0
}
.f
{
    font-size: 72px;
    padding: 30px 0 30px 0

}